.header {
  width: 100%;
  position: fixed;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
  z-index: 1000;
}

.logo-img {
  width: 190px;
  height: 29px;
}

.nav-options {
  padding-left: 25px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 50px;
  list-style-type: none;
}

.option {
  font-weight: bold;
  font-size: 20px;
  color: #000;
  p {
    cursor: pointer;
    margin: 0px;
  }
}

.mobile-option {
  display: none;
}

.mobile-menu {
  display: none;
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    justify-content: space-between;
  }

  .logo-img {
    margin-left: 20px;
  }
  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 80px;
    right: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }

  .nav-options-active {
    transition: all 0.5s ease;
    position: absolute;
    width: 320px;
    right: -30px;
    background: linear-gradient(182.16deg, rgba(176, 176, 176, 1) 1.93%, rgba(0, 0, 0, 1) 93.47%);
    top: 60px;
  }

  .menu-icon {
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
  }

  .option {
    display: flex;
    align-items: center;
    padding: 30px 0px;
    color: #fff;
  }

  .mobile-menu {
    display: block;
  }
}
