

.header{
    width: 100%;
    position: fixed;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
}

.logo{
    width: 40%;
}
.logo-img{
    width: 190px;
    height: 29px;
   padding-left: 130px;
}

.menu-items-main{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
}

.menu-item{
    font-weight: bold;
    font-size: 20px;
    color: #000;
}