.large-blog {
  width: 100%;
  position: relative;
  bottom: 50px;
}

.cover-img {
  width: 100%;
  display: block;
  height: 438px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: linear-gradient(182.16deg, rgba(176, 176, 176, 0.3) 1.93%, rgba(0, 0, 0, 0.76) 93.47%);
  color: #f1f1f1;
  width: 100%;
  opacity: 1;
  font-size: 20px;
  text-align: left;
  height: 438px;
}
.wrap-content {
  position: absolute;
  bottom: 10px;
  left: 50px;
  font-size: 20px;
  color: white;
}
.title {
  font-size: 40px;
  font-weight: bold;
}
.sub-title {
  margin-top: -38px;
}
.name {
  color: #53b2c5;
  margin-bottom: -10px;
}
@media screen and (max-width: 768px) {
  .cover-img {
    height: 245px;
  }
  .overlay {
    height: 245px;
  }
  .wrap-content {
    left: 24px;
    font-size: 12px;
  }
  .title {
    font-size: 18px;
  }
  .sub-title {
    margin-top: -16px;
  }
  .date {
    margin-right: 10px;
  }
  .wrap-name-date {
    display: flex;
    justify-content: space-between;
  }
}
